Checks: "-*,
  abseil-*, \
  cppcoreguidelines-*, \
  -cppcoreguidelines-non-private-member-variables-in-classes, \
  -cppcoreguidelines-avoid-magic-numbers, \
  misc-include-cleaner, \
  clang-analyzer-*, \
  llvm-*"
CheckOptions:
  - key: IgnoredMacros
    value: "TEST,INSTANTIATE"
